<%- model_class = Product -%>
<%= form_tag("/", :method => "post", id: "search-form", class: "form-group") do %>
<%= render 'header.html.erb' %>

<div class="row">
  <div class="col-lg-3">
    <%= render 'advanced_search.html.erb' %>
  </div>
  <div class="col-lg-9">

    <%= render 'no_results.html.erb' %>

    <div class="row">
      <div class="col-lg-12">
        <%= render 'pagination.html.erb' %>
      </div>
    <div class="row">
      <div class="col-lg-12">
        <%= render 'results.html.erb' %>
      </div>
    </div>
  </div>
</div>
<% end %>
